
body{
    background-color: #0477BF;
}
nav{
    background-color: #F2B705 !important;
}

h1, h2, h3, label{
    color: white;
}


.btn-success{
    margin-top: 23px ;
}

h3{
    margin: 12px;
}

.form-client:has(input:required)label:after{
    content: "*";
    color: red;
}