
body{
    background-color: #323859;
}
nav{
    background-color: #F2B705 !important;
    margin-bottom: 23px;
}

h3{
    margin-top: 50px;
}

h1, h2, h3, label{
    color: white;
}


.btn{
    margin-top: 23px ;
    margin-right: 5px;
}

h3{
    margin: 12px;
}


.col-sm-4{
    margin-top: 25px;
}